@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #343030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #343030; 
    --foreground: #ededed;
  }
}

textarea {
  color: var(--background);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
